<ion-header>
    <page-header></page-header>
    <ion-searchbar full placeholder="{{'Enterprises.search' | translate}}"
                   [(ngModel)]="myInput"
                   (ionInput)="search_company($event)">
    </ion-searchbar>
</ion-header>


<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addCompany()">
            <ion-icon name="add" color="white"></ion-icon>
        </button>
    </ion-fab>

  <ion-fab left bottom>
    <button ion-fab color="danger" (click)="deleteCompanies()">
      <ion-icon name="trash" color="white"></ion-icon>
    </button>
  </ion-fab>

    <ion-list>
        <ion-item *ngFor="let company of companies; let i = index" id="{{company.company_id}}" (click)="!company.tapped ? infoTapped(company) : null" (press)="chooseCompany(i)">
            <div [style.color]="!company.tapped ? '#000' : '#488aff'">
                {{company.title}}
            </div>
            <button icon-only class="icon-enterprise-go" *ngIf="!company.tapped">
                <ion-icon name="arrow-forward" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </button>
          <ion-radio *ngIf="company.tapped" [checked]="company.chosen" [value]="company.chosen"></ion-radio>
        </ion-item>
    </ion-list>
    <div *ngIf="noData">
        <ion-label class="no_data">{{'Enterprises.Nodata' | translate}}</ion-label>
    </div>
</ion-content>

