<ion-header>
  <ion-navbar>
    <ion-title>{{'Register.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="register_form"  (ngSubmit)="onSubmit(register_form.value)">
    <ion-item>
      <ion-input type="text" placeholder="{{'Register.name' | translate}}" [(ngModel)]="displayName" formControlName="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="phone" placeholder="{{'Register.numberPhone' | translate}}" [(ngModel)]="numberPhone" maxlength="13" formControlName="numberPhone"></ion-input>
    </ion-item>

    <ion-item *ngIf="codeSended">
      <ion-input type="code" placeholder="{{'Register.code' | translate}}" [(ngModel)]="code" maxlength="4" formControlName="code"></ion-input>
    </ion-item>

    <br>
    <p class="error-message" *ngIf="error_message">{{'Register.InvalidCode' | translate}}</p>
    <button ion-button full type="submit" [disabled]="!register_form.valid">{{codeSended ? ('Register.btn_register' | translate) : ('Register.get_code' | translate)}}</button>
  </form>
</ion-content>
