page-beacon-communication {
  ion-select {
    width: 100%;
    max-width: 100% !important;
  }

  .msg{
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 30px;
    border: 1px solid #aba9a9;
    height: 150px;
  }
  textarea.text-input {
    height: 120px !important;
  }

  .item-md{
    padding: 0 !important;
  }

 /* .select_email {
    width: 90%;
  }*/

}
